  <p id="notice"><%= notice %></p>

  <div class= "container" >
  <h1 class = "text-center">Listing all articles</h1>

  <% @articles.each do |article| %>
    <div class = "row justify-content-md-center">
      <div class= "col-8 mt-4">
       <div class="shadow  mb-5 bg-white rounded">
        <div class="card text-center">
         
            <div class= "card-header font-italic">
              by Edafe Bain
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
              <p class="card-text"><%= truncate(article.description, length: 100) %></p>
              <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
              <%= link_to "Delete", article_path(article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"}%>
           
            </div>
            <div class="card-footer text-muted">
              <small>Create <%= time_ago_in_words(article.created_at) %> ago, 
              Edited<%= time_ago_in_words(article.updated_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
