<div class= "container" >
  <h2 class = "text-center"><%= @article.title %></h2>

  
    <div class = "row justify-content-md-center">
      <div class= "col-8 mt-4">
       <div class="shadow  mb-5 bg-white rounded">
        <div class="card text-center">
         
            <div class= "card-header font-italic">
              by Edafe Bain
            </div>
            <div class="card-body">
              
              <div class="card-text text-left"><%= simple_format(@article.description, length: 100) %></div>
             
              <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
              <%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"}%>
           
            </div>
            <div class="card-footer text-muted">
              <small>Create <%= time_ago_in_words(@article.created_at) %> ago,
              Edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
