<div class = "container" id = "home-container">
    <div class="jumbotron text-center text-Black">
        <h1 class="display-4">Bain Technology</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
        </p>
    </div>
</div>

<%
=begin%>
 <%= link_to 'About', pages_about_path %> 
<%
=end%>

